.contenedorTitulos {



    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: inset 0 1px 0 0 var(--color-cuarto),
        inset 0 -1px 0 0 var(--color-cuarto);

}


.titulo {
    text-align: center;
    color: var(--color-secundario);
}

.subtitulo {
    text-align: center;
    color: var(--color-cuarto);
    font-size: 16px;
}

.subtitulo2 {
    text-align: center;
    color: var(--color-secundario);
    margin-top: 2%;
}

body {
    background-color: var(--color-primario);

}

.directorioProfesional {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    /* Opcional: limita el ancho máximo para que no se extienda demasiado en pantallas gigantes */
    margin: 0 auto;
    /* Centra todo el contenedor en la pantalla */
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;

}

.directorioProfesional article {

    height: 300px;
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    border-radius: 12px;
    border: 0.005rem solid rgb(2, 48, 2);

    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /*    cursor: pointer; */
    transition: transform 1s ease, box-shadow 0.4s ease;
    /* box-shadow: inset 4px 8px 16px var(--color-cuarto); */
    box-shadow: 4px 8px 16px black;
    box-sizing: border-box;

}



.imagenEspecialidad {
    width: 100%;
    height: 60%;
    position: relative;

}

.imagenEspecialidad .capaSombra {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    pointer-events: none;
}


.imagenEspecialidad img {
    width: 100%;
    height: 100%;
    /*  object-fit: cover; */
    transition: transform 2s ease;
    /*velocidad del zoom*/
}

.imagenEspecialidad img:hover {
    transform: scale(1.1);
    /*aumenta la img 2% */
}

.descripcion {

    width: 90%;
    height: 40%;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 5px;
    padding-block-end: 15px;
    position: relative;
}

.nombre {
    display: flex;
    height: 20%;
    justify-content: flex-start;
    margin-top: -10%;
}

.nombre h3 {
    color: var(--color-secundario);
    font-size: 20px;

}


.texto {
    display: flex;
    text-align: left;
    color: var(--color-terciario);
    font-size: 12px;
    height: 30%;
    margin-top: 5%;
    justify-content: flex-start;

}




.btnVerProfesionales {
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-block-end: 2px;
    margin-top: 10px;

}

.btnVerProfesionales p {

    color: var(--color-cuarto);
    font-size: 12px;
}

.btnVerProfesionales a {

    width: 45%;
    height: 100%;
    border: 0.05rem solid var(--color-cuarto);
    border-radius: 5px;
    background-color: var(--color-cuarto);
    color: var(--color-secundario);
    font-size: 12px;
    text-decoration: none;
    justify-content: center;

}


.btnVerProfesionales a:hover {

    transform: translateY(-4px);
    /* Cambiado a translateY para que suba en vez de moverse solo a la derecha */

    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: inset 4px 8px 16px var(--color-secundario);
}

/* .profesional:hover {
    transform: translateY(-4px); /* Cambiado a translateY para que suba en vez de moverse solo a la derecha 
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
} */

@media (min-width: 768px) {
    .directorioProfesional {
        grid-template-columns: repeat(3, 1fr);

    }
}