body {
  background-color: var(--color-primario);
}
.texto1 {
  color: var(--color-secundario);
}
.texto2 {
  color: var(--color-cuarto);
}
.texto3,
.texto4 {
  color: var(--color-terciario);
}
.banner {
  background-color: var(--color-cuarto);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}
.banner .btn {
  background-color: #08213d;
  border: none;
  padding: 5px 12px;
  font-size: 13px;
}
@media (max-width: 767px) {
  .banner {
    display: none;
  }
}
.gradiante {
  position: relative;
}
.carousel-item img {
  height: 520px;
  object-fit: cover;
}
.gradiante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  pointer-events: none; /* Permite hacer clic a través del degradado */
}
.estadistica-card {
  height: 138px;
  background-color: #18375f;
  border: 1px solid #245477;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icono-estadistica {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin-bottom: 5px;
}
.estadistica-card h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.estadistica-card p {
  font-size: 14px;
  margin: 2px 0 0;
}
.equipo-medico,
.beneficios,
.servicios {
  background-color: #0e2948;
  padding: 65px 0;
}
.novedades-card,
.servicio-card {
  background-color: #18375f;
  border: 1px solid #245477;
  border-radius: 12px;
  min-height: 180px;
  padding: 25px;
  text-align: left;
  transition: 0.3s;
}
.servicio-card:hover {
  transform: translateY(-5px);
  border-color: var(--color-cuarto);
}
.icono-servicio {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-bottom: 15px;
}
.especialidades {
  background-color: var(--color-primario);
  min-height: 100vh;
}
.especialidad-card {
  background-color: #17375f;
  border: 1px solid #255174;
  border-radius: 11px;
  overflow: hidden;
  transition: 0.3s;
}
.especialidad-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.especialidad-card img {
  height: 160px;
  object-fit: cover;
}
.especialidad-card .card-body {
  padding: 20px;
}
.link-profesionales {
  color: var(--color-cuarto);
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
.link-profesionales:hover {
  text-decoration: underline;
}
.btn-especialidades {
  background-color: var(--color-cuarto);
  color: var(--color-secundario);
  font-size: 14px;
  font-weight: bold;
  padding: 14px 30px;
  border-radius: 8px;
  border: none;
}
.btn-especialidades:hover {
  background-color: var(--color-cuarto);
  color: var(--color-secundario);
}
.beneficios img {
  background-color: rgb(76, 175, 80, 0.15);
  border-radius: 50%;
  padding: 10px;
  height: 60px;
  object-fit: cover;
}
.solicitar-turnos {
  background-color: var(--color-cuarto);
}
